<div data-mmes-modal class="fade-in-slide-in">
    <div class="mmes-row mmes-row--double">
        <div class="mmes-row__col" style="background-image: url({{ __SELF__.banner.image.getPath }})">
            {% partial __SELF__ ~ '::close-button' %}
        </div>
        <div class="mmes-row__col">
            {{ __SELF__.banner.content|md }}
        </div>
    </div>
</div>

{% put styles %}
    <style>
        {{ __SELF__.banner.style }}
    </style>
{% endput %}

{% put scripts %}
    <script>
      let modal = new Modal({{ __SELF__.property('trigger') }})

      modal.open()
    </script>
{% endput %}
